#myForm{
    float: left;
}
.button{
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 200px;
    height: 70px;
    background-color: cadetblue;
    font-size: 30px;
    border-radius: 5%;
    border: green solid 2px;
    position: relative;
}
#results{
    width: 400px;
    height: 100px;
    position: absolute;
    left: 300px;
    padding-left: 100px;
    font-size: 50px;
    float: left;
}